<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="head">
    <meta charset="UTF-8">
    <title>MWaiting</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
</head>

<nav th:fragment="navigation-bar"
     class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <div class="col-md-3 mb-2 mb-md-0">
        <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
            <svg class="bi" width="40" height="32" role="img" aria-label="Bootstrap">
                <use xlink:href="#bootstrap"></use>
            </svg>
        </a>
    </div>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-2 link-secondary">Home</a></li>
        <li><a href="#" class="nav-link px-2">Features</a></li>
        <li><a href="#" class="nav-link px-2">Pricing</a></li>
        <li><a href="#" class="nav-link px-2">FAQs</a></li>
        <li><a href="#" class="nav-link px-2">About</a></li>
    </ul>

    <div class="col-md-3 text-end">
        <div sec:authorize="!isAuthenticated()">
            <button type="button" th:onclick="|location.href='@{/user/login}'|" class="btn btn-outline-primary me-2">
                Login
            </button>
            <button type="button" th:onclick="|location.href='@{/user/register}'|" class="btn btn-primary me-2">
                Sign-up
            </button>
        </div>

        <div sec:authorize="isAuthenticated()">
            <a th:text="${#authentication.name}+'님 환영합니다'"></a>
            <form id="logoutForm" action="/user/logout" method="post">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <button type="submit" class="btn btn-primary me-2">Logout</button>
            </form>
        </div>
    </div>
</nav>

<body>

</body>
</html>