<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>member detail</title>
    <style>
        table {
            border-collapse: collapse;
        }

        /*이중선 제거*/
        th, td {
            text-align: center;
            border: 1px solid #000;
            vertical-align: top; /* 위 */
            vertical-align: bottom; /* 아래 */
            vertical-align: middle; /* 가운데 */
        }
    </style>
</head>
<body>
<table>
    <tr>
        <th>id</th>
        <th>email</th>
        <th>password</th>
        <th>name</th>
    </tr>
    <tr>
        <td th:text="${member.id}"></td>
        <td th:text="${member.getEmail}"></td>
        <td th:text="${member.getPassword}"></td>
        <td th:text="${member.getName}"></td>
    </tr>
</table>
</body>
</html>