<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>restaurant detail</title>
    <style>
        table {
            border-collapse: collapse;
        }

        th, td {
            text-align: center;
            border: 1px solid #000;
            vertical-align: top; /* 위 */
            vertical-align: bottom; /* 아래 */
            vertical-align: middle; /* 가운데 */
        }
    </style>
</head>
<body>
<a th:text="${restaurant.getName}"></a> 식당 관리

<table>
    <tr>
        <th>id</th>
        <th>user</th>
        <th>num</th>
        <th>state</th>
        <th>처리</th>
    </tr>
    <tr th:each="ticket: ${tickets}">
        <td th:text="${ticket.id}"></td>
        <td th:text="${ticket.user.email}"></td>
        <td th:text="${ticket.number}"></td>
        <td th:text="${ticket.state}"></td>
        <td>
            처리
        </td>
    </tr>
</table>
</body>
</html>

