<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>restaurant detail</title>
    <style>
        table {
            border-collapse: collapse;
        }

        /*이중선 제거*/
        th, td {
            text-align: center;
            border: 1px solid #000;
            vertical-align: top; /* 위 */
            vertical-align: bottom; /* 아래 */
            vertical-align: middle; /* 가운데 */
        }
    </style>
</head>
<body>
<table>
    <tr>
        <th>id</th>
        <th>member.memberEmail</th>
        <th>restaurantName</th>
        <th>restaurantPhoneNumber</th>
        <th>restaurantAddress</th>
        <th>restaurantTime</th>
        <th>restaurantDescription</th>
    </tr>
    <tr>
        <td th:text="${restaurant.id}"></td>
        <td th:text="${restaurant.member.getEmail}"></td>
        <td th:text="${restaurant.getName}"></td>
        <td th:text="${restaurant.getPhoneNumber}"></td>
        <td th:text="${restaurant.getAddress}"></td>
        <td th:text="${restaurant.getTime}"></td>
        <td th:text="${restaurant.getDescription}"></td>
    </tr>
</table>
<a th:href="@{|/restaurant/qr/${restaurant.id}|}">QR보기</a>
<a th:href="@{|/restaurant-home/${restaurant.id}|}">관리 화면</a>
</body>
</html>