<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments.html :: head}"></head>
<body>
<nav th:replace="~{fragments.html :: navigation-bar}"></nav>
<div class="container">
    <h2>RestaurantRegister</h2>
    <form action="/restaurant/register" method="post">
        <div class="mb-3">
            <label for="name" class="form-label">식당 이름</label>
            <input type="text" name="name" class="form-control" id="name">
        </div>
        <div class="mb-3">
            <label for="phoneNumber" class="form-label">식당 전화번호</label>
            <input type="text" name="phoneNumber" class="form-control" id="phoneNumber">
        </div>
        <div class="mb-3">
            <label for="address" class="form-label">식당 주소</label>
            <input type="text" name="address" class="form-control" id="address">
        </div>
        <div class="mb-3">
            <label for="time" class="form-label">식당 운영시간</label>
            <input type="text" name="time" class="form-control" id="time">
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">식당 설명</label>
            <input type="text" name="description" class="form-control" id="description">
        </div>
        <input type="hidden" name="_csrf" th:value="${_csrf.token}">
        <input type="submit" class="btn btn-primary" value="식당 가입">
    </form>
</div>
</body>
</html>

